@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rick's Rentals!</h1>
    <br /><br />
    <h3>Your number one store for renting different types of bikes, skateboards, rollerblades and more!</h3>
</div>
